@import "../../styles/variables";
.wire-selector {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  margin-top: 1rem;
  margin-bottom: 2rem;
  max-width: 290px;
  &__card {
    width: 8rem;
    height: 8rem;

    & > button {
      height: 100%;
      width: 100%;
      border: none;
      background-color: $off-white;
      color: $dark-green;

      border-radius: 10px;
      background: #fefae0;
      box-shadow: 9px 9px 18px #eae6ce, -9px -9px 18px rgba(#fffff2, 0.9);
    }

    &.active {
      & > button {
        z-index: 1;
        background-color: $light-orange;
        color: $off-white;

        border-radius: 10px;
        background: #dda15e;
        box-shadow: inset 9px 9px 18px #c58f54, inset -9px -9px 18px #f5b368;
      }
    }
  }
}

.wired-card {
  margin: auto 0;
  &__info {
    font-weight: 200;
    font-size: .8rem;
  }
}