@import "../../styles/variables";
.mask-section {
  background-color: $off-white;
  margin: 0 auto;
  width: 85%;
  // border: 5px solid yellow;

  &__humaans {
    transform: translateY(-15%);
    max-height: 550px;
    max-width: 550px;
  }

  &__header {
    color: $dark-green;
    font-weight: 200;
    padding-bottom: 2rem;

    &--text {
      font-size: 24px;
    }
  }

  &__bar {
    width: 25%;
    max-width: 75px;
    height: 2px;
    background-color: $dark-green;
    margin-left: 5px;
    margin-bottom: 1rem;
  }
}

@media only screen and (min-width: 650px) {
  .mask-section {
    position: relative;
    padding-top: 2rem;
    max-width: 950px;
    &__humaans {
      position: absolute;
      top: -100px; 
      right: 30px;
      height: 30%;
      width: 30%;
      min-height: 550px;
      min-width: 550px;
    }
  }
}
