.hero {
  &__container {
    display: flex;
    flex-direction: column;
    height: calc(100vh - 116px);
    background: #FEFAE0;

    & :nth-child(1) { order: 2; }
    & :nth-child(2) { order: 1; }
    & :nth-child(3) { order: 3; }
    & :nth-child(4) { order: 4; }
  }

  &__text-content {
    padding: .5rem 0;
    color: #283618;
    & > h2 {
      text-align: center;
      font-weight: 200;
    }
    & > p {
      font-weight: 200;
    }
  }

  &__header {
    &--lg {
      display: none;
    }
    &--sm {
      /* hello there */ 
    }
  }

  &__subtitle {
    padding: 1rem;
    padding-top: 0.25rem;
    text-align: center;
    // margin: auto 0;
  }

  &__btn-bar {
    display: flex;
    justify-content: space-around;
    margin: 0 auto; 
    padding-bottom: 1.5rem;
    width: 70%;
    max-width: 275px;
  }

  &__wave { 
    margin-top: auto;
  }
}
