@import '../../styles/variables';

.hero {
  &__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 0 auto; 
    align-items: center;
    align-content: center;
    background: $off-white;
    
    &--lg {
      width: 100%;
      max-width: 1425px;
      display: grid; 
      grid-template-rows: 2fr;
      grid-template-columns: 1fr;
      &-text {
        grid-row: 2 / -1;
      }
    }
  }

  &__text-content {
    padding: 0.5rem 0;
    color: $dark-green;
    & > h2 {
      text-align: center;
      font-weight: 200;
    }
    & > p {
      font-weight: 200;
    }
  }

  &__header {
    &--lg {
      display: none;
    }
    &--sm {
      /* hello there */
    }
  }

  &__subtitle {
    padding: 1rem;
    padding-top: 0.25rem;
    text-align: center;
  }

  &__btn-bar {
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
    padding-bottom: 1.5rem;
    width: 70%;
    max-width: 275px;
  }

  &__img {
    max-height: 500px;
    overflow: hidden;
  }

  &__wave {
    margin-top: auto;
    width: 100% !important;
  }
}

@media only screen and (min-width: 830px) {
  .hero {
    display: flex;
    align-content: center;
    align-items: center;
    &__header {
      &--lg {
        display: inherit;
        padding: 1rem;
        & > h2 {
          font-weight: 200;
        }
      }
      &--sm {
        display: none;
      }
    }
    &__subtitle {
      text-align: left;
      padding: 0 1rem;
    }
    &__btn-bar {
      margin: 0 auto;
      flex-direction: column;
      width: 100%; 
      padding: 0;
      &--btn {
        margin: 3px 0;
      }
    }
    &__img {
      position: relative;
      height: 100%;
      width: 100%;
      z-index: 99;
      min-height: 450px;
      max-width:650px;
      max-height:650px;
      padding-left: 10px; 
      padding-top: 10px;
      &-backdrop {
        position: absolute;
        opacity: 1;
        background-color: $dark-green;
        width: 98%;
        height: 98%;
        padding: inherit;
        top: 0; 
        left: 0;
      }
    }
    &__container {
      position: relative;
      height: 95vh;
      &--lg {
        display: flex;
        padding: 2rem;
        &-text {
          padding: 3rem;
          width: 50%;
          margin: auto 0;
        }
      }
    }

    &__wave {
      position: absolute;
      bottom: 0;
      width: 100% !important;
    }
  }
}

// desktop
@media only screen and (min-width: 1130px) {
  .hero {
    display: flex;
    align-content: center;
    align-items: center;
    &__header {
      &--lg {
        display: inherit;
        padding: 1rem;
        & > h2 {
          font-weight: 200;
        }
      }
      &--sm {
        display: none;
      }
    }
    &__subtitle {
      text-align: left;
      padding: 0 1rem;
    }
    &__btn-bar {
      margin: 0;
      flex-direction: row;
      width: 70%;
    }
    &__img {
      position: relative;
      padding:  2rem 1rem;
      height: 100%;
      width: 100%;
      z-index: 99;
      max-width:650px;
      max-height:650px;
      &-backdrop {
        position: absolute;
        background-color: $dark-green;
        width: 95%;
        height: 90%;
        top: 25px;
        left: 8px;
      }
    }
    &__container {
      position: relative;
      height: 95vh;
      &--lg {
        display: flex;
        padding: 2rem;
        &-text {
          padding: 3rem;
          width: 50%;
          margin: auto 0;
        }
      }
    }

    &__wave {
      position: absolute;
      bottom: 0;
      width: 100% !important;
    }
  }
}
