@import './variables';
html {
  background-color: $off-white; 
  scroll-behavior: smooth;
}
div.main {
  min-height: 100vh;
  padding-bottom: 60px; 
  background-color: $off-white; 
}

div.full-height {
  min-height: 100vh;
}

a.link-no-style {
  &:hover {
    text-decoration: none;
  }
}

.footer-col {
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  footer {
    display: flex;
    position: relative;
    bottom: 0;
    margin-top: -60px;
    height: 60px;
    clear: both;
    background-color: $color-primary;
    color: $off-white;
    justify-content: center;
    width: 100%;

    span {
      align-self: center;
      text-align: center;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    &-emph, & > p {
      font-size: 1rem;
      font-weight: 200;
      margin: 0;
    }
    &-emph {
      font-weight: 400;
    }
  }

  &__link-container {
    font-weight: 200;
      font-size: 0.8rem;
    &--link {
      color: $off-white;
      &:hover {
        color: $light-orange;
      }
    }
  }
}
