@import "../../styles/variables";
.mask-product {
  display: flex;
  flex-direction: column;
  border: none;
  background-color: transparent;
  justify-content: center;
  align-content: center;
  align-items: center;
  padding: 0rem 0.25rem;

  &__image {
    max-width: 4rem;
    max-height: 4rem;
    border-radius: 50px;
    box-shadow: 2px 2px 10px #888888;
    &--empty {
      display: flex;
      align-items: center;
      width: 4rem;
      height: 4rem;
      border-radius: 50px;
      box-shadow: 2px 2px 10px #888888;
      background-color: $light-orange;
      color: $off-white;
      font-size: 0.5rem;
    }
  }

  &__text {
    color: rgba($dark-green, 0.7);
    margin: 0;
    font-size: 0.7rem;
    padding-top: 10px;
  }

  &__count {
    position: relative;
    margin-left: 50%;
    transform: translateY(1rem);
    z-index: 1;
    color: $off-white;
    background-color: $light-orange;
    width: 1.4rem;
    height: 1.4rem;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    &.inactive {
      opacity: 0;
    }
  }
}
