@import '../../src/styles/variables';

.navbar {
  &__brand-text {
    color: $off-white;
    font-weight: 100;
    &--emph {
      font-weight: 400;
    }
  }
}

@media only screen and (min-width: 991px) {
  #buy-button {
    color: $off-white;
    border: 1px solid $off-white;
    transition: background-color 200ms ease-in, color 200ms ease-in;
    &:hover {
      background-color: $off-white; 
      color: $dark-green;
    }
  }
}
