@import "../../styles/variables";
.mask-builder {
  color: $dark-green;
  margin-bottom: 2rem;
  &__tip {
    margin: 0.25rem;
  }

  &__empty-state {
    padding: 2rem;
    font-weight: 200;
    color: $dark-green;
  }

  &__designer {
    margin-top: 1rem;
    padding: 1rem;
    width: 100%;
    min-width: 200px;
    border-radius: 10px;
    background: #fefae0;
    box-shadow: 9px 9px 18px #eae6ce, -9px -9px 18px rgba(#eae6ce, 0.3);

    &--header {
      text-transform: capitalize;
      font-weight: 200;
      padding: 0 0.5rem;
      display: flex;
      justify-content: space-between;
      align-items: center;
      align-content: center;
      color: $dark-green;
      padding-bottom: 0.75rem;
      border-bottom: 2px solid rgba(#eae6ce, 0.5);
      & > p {
        margin: auto 0;
        font-size: 0.95rem;
        padding: 0 0.8rem;
      }
    }

    &--content {
      margin: 0 auto;
      overflow: auto;
      max-height: 320px;
      display: grid;
      grid-gap: 5px;
      grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    }
  }
}

.categories-dropdown {
  color: $off-white;
  &:focus {
    background-color: $dark-orange;
    color: $off-white;
  }
  &__menu {
    background-color: lighten($off-white, 5%);
    box-shadow: 9px 9px 18px #eae6ce;
    border: none;
    &--items {
      text-transform: capitalize;
      color: $dark-green;
    }
  }
}
